
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display+SC:wght@900&display=swap');
/*font-family: 'Playfair Display SC', serif;*/
*{
    box-sizing: border-box;
}
body {
    font-family: 'Anton', sans-serif;
    margin: 0;
    background: crimson;
}
/*----------------------------------------------*/
img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.container {
    width: 100%;
    margin: auto;
}
.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100%;
}
/*----------------------------------------------*/
.main-header {
    color: white;
    width: 100%;
}
.logo {
    font-size: 1.9em;
    color: crimson;
    padding: 10px;
    font-family: 'Playfair Display SC', serif;
}
.main-header__contactInfo__phone {
    background: black;
    color:white;
    margin: auto;
    padding: 10px;
}
.main-header__contactInfo__address {
    padding: 10px;
    margin: 0;
}
.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}
/*----------------------------------------------*/
.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu {
    display: block;
    color: crimson;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}
.social-icon {
    display: flex;
    justify-content: center;
}
.social-icon {
    color:black;
    margin-left: 200px;
    justify-content: flex;
    align-items: center;
    font-size: 1.9em;
    width: 160px;
    height: 35px;
    background: crimson;
    border-radius:50%;
}
.social-icon__link {
    text-decoration: none;
}
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    
}
.menu__link {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu__link:hover {
    background: crimson;
}
.menu__link--select {
    background: crimson;
    }
    
.mostrar {
        height: 196px;
    }

/*----------------------------------------------*/
.banner {
    margin-top: -55px;
    position: relative;
}
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.);
    z-index:1000;
    top:0;
}
.banner__img {
    text-align:center;
    width: auto;
    height: auto;
    object-fit: cover;
}
.banner__content {
    width: 90%;
    color: crimson;
    text-align:center;
    position: absolute;
    z-index: 1500;
    top: 95%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight:bold;
}
/*----------------------------------------------*/

.group--color .container {
    background:crimson;
    color:black;
    padding: 10px;
    text-align:center;
    
}
.main__title{
    margin:15px 0;
    font-size: 1.8em;
    font-family: 'Playfair Display SC', serif;
    font-weight:100;
    
}
.column__title{
    font-size:1.3em;
}
.main__about_description .column:nth-child(2){
    padding: 10px
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width:120px;
    background: black;
    color: white;
    padding: 10px;
    margin: 10px auto;
}
.group__title{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}

.today-special .column {
    margin-bottom: 30px;
    text-align: center;
}
.today-special__img{
    margin: auto;
    max-width: 350px;
    background: white;
}
today-special__title {
    font-size: 1.3em;
    padding-top:10px;
    padding-bottom:20px;
}

.today-special__votes{
    font-size: 1.5em;
    color: crimson;
    font-weight: bold;
}
/*----------------------------------------------*/
.main-footer {
    background: #222;
    color:mediumvioletred;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.copy{
    text-align:center;
    margin:auto;
    margin-top:15px;
}
.main-footer [class*="icon-"]{
    color:mediumvioletred;
    text-decoration:none;
}
.main-footer [class*="icon-"]:before {
    position: relative;
    top:3px;
    right:5px;
}
/*----------------------------------------------*/
@media screen and (min-width:480px){
    .logo {
        color: black;
    }
    .main-header__contacInfo {
        text-align: right;
    }
    .banner {
        margin-top:-220px;
        z-index: -1000;
    }
    .main-footer .container--flex{
        align-items:flex-start;
    }
    .column--50 {
        width: 49%;
    }
    .main-nav {
        background: rgba(0,0,0,0.8)
    }
    .column--50-25 {
        width:49%;
    }
    .main__about__description .colmun:nth-child(2){
        padding-left:20px;
        font-size:.9em;
    }
    .main__about__description .btn {
        margin: 0;
    }
    .column--33 {
        width:32%;
    }

    

}

@media screen and (min-width:768px){
    .main__title {
        font-size: 2.2em;
    }
    .main__about__description {
        margin-top: 30px
    }
    .main__about_description .column--50:nth-child(2){
        font-size:lem;
    }
        .main__about_description .column--50:nth-child(2).column__txt{
        line-height: 30px
    }
    .column--50-25{
        width:24.5%;
    }
    .column__title{
    font-size: lem;
    }
    .group__title {
        font-size: 2,2em;
    }
}

@media screen and (min-width:1024px){
    .container {
        width: 1000px;
    }
    .logo {
        font-size: 2em;
        padding: 0;
    }
    .main-headder__contactInfo__phone,
    .main-headder__contactInfo__adress {
        padding-right:0;
        font-size:1.15em;
    }
    .main-nav {
        padding:0;
    }
    .banner__content{
        font-size:2.5em;
    }
    .icon-menu{
        display:none;
    }
    .menu {
        position:static;
        display:flex;
        height:auto;
        width:auto;
    }
    .menu_link{
        padding: 20px;
    }
    .group--color .container {
        margin-top: 30px;
        margin-bottom: 30px;
        padding:20px;
    }
    .main__tittle{
        font-size:2.3em;
    }
    .main__about__description .column-50:nth-child(2) .column__txt{
        line-height:45px;
    }
    .today-special__title {
        font-size:1.4em;
    }
    .today-special__votes {
        font-size:1.8em;
    }
    .main-footer {
        padding-top:30px;
        padding-bottom:30px;
    }
    
    
    
    
    
    
    
    
    
    
}

@media screen and (min-width:1600px){
    .container {
        width: 1400px;
    }
    .main__about_description .column:nth-child(1) img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .today__special__img {
        height:300px;
    }
    
}



