.our-team {
    text-align: center;
    margin-bottom:20px;
}
.our-team .container__flex{
    
}
.our-team__title{
    font-family: 'Playfair Display SC', serif;
    color: black;
    font-weight:bold;
    font-size: 1.8em;
    margin-bottom:10px;
}
.our-team__img {
    width: 200px;
    height:200px;
    object-fit: cover;
    margin:auto;
    margin-bottom:20px;
}
.our.team__txt{
    padding:10px;
    text-align:justify;
}

@media screen and (min-width:480px){
    .our-team__img{
        width:300px;
        height:300px;
    }
}

@media screen and (min-width:768px){
    .our-team__img{
        width:560px;
        height:560px;
    }
}

@media screen and (min-width:1024px){
    .our-team__img{
        width:768px;
        height:768px;
    }
    .our-team__title{
        font-size:2.5em;
    }
}

@media screen and (min-width:1600px){
    .our-team__img{
        width:900px;
        height:900px;
    }
}